/*
  EXAMPLE APPLICATION SPECIFIC STYLINGS
  --------
  
  This file currently contains typography stylings.
*/

// Variable definition
$app-grey: #67686A;


// Class definitions
.app-small-text {
    font-size: 0.7rem;
}

.app-light-text {
    color: $app-grey;
}
